name: Build from base

on: [push]

jobs:
  build:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu, fedora, arch]
    runs-on: [self-hosted, "${{ matrix.os }}"]
    steps:
      - uses: actions/checkout@v4
      - run: make build-from-base
